---
import type { Image } from "~/utils/interface";
import GalleryItem from "./GalleryItem.astro";
import classnames from "classnames";
import PortfolioItem from "./PortfolioItem.astro";

interface Props {
  images: Image[];
  portfolio?: boolean;
}

const { images, portfolio = false } = Astro.props;
const classes = classnames("", {
  "grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-4 gap-4 w-max md:gap-6":
    !portfolio,
  "flex flex-col items-center h-screen w-screen": portfolio,
});
---

<div class={classes}>
  {
    images.map((image) =>
      portfolio ? <PortfolioItem {image} /> : <GalleryItem {image} />,
    )
  }
</div>
